### Librewolf Config User Overrides
#
## Debugging
#    Try to keep remote debugging disabled unless necessary, e.g. editing
#    browser themes!
defaultPref("devtools.debugger.auto-pretty-print", true);
defaultPref("devtools.debugger.features.autocomplete-expressions", true);
defaultPref("devtools.debugger.features.code-folding", true);

pref("devtools.debugger.remote-enabled", true);
#
## Disable resistFingerprinting,
defaultPref("privacy.resistFingerprinting", true);
pref("privacy.resistFingerprinting", false);
defaultPref("privacy.resistFingerprinting.letterboxing", true);
pref("privacy.resistFingerprinting.letterboxing", false);
#
## FP Protection, Whitelist Dark Scheme
defaultPref("privacy.fingerprintingProtection", true);
defaultPref("privacy.fingerprintingProtection.overrides", "+AllTargets,-CSSPrefersColorScheme");
#
## Same Origin Policy - 0=always send, 1=send iff base domains match, 2=send iff hosts match.
# defaultPref("network.http.referer.XOriginPolicy", 2);
#
## Disable WebGL
defaultPref("webgl.disabled", true);
#
## DNSSEC & ESNI
defaultPref("network.security.esni.enabled", true);
#
## Browser Cache
defaultPref("browser.cache.disk.enable", true);
defaultPref("browser.cache.memory.enable", true);
defaultPref("browser.cache.memory.capacity", 2000000);
# If we want to, we can move cache path to RAM explicitly.
# defaultPref("browser.cache.disk.parent_directory", /run/user/1000/librewolf);
#
## Tab Unloading
defaultPref("browser.tabs.unloadOnLowMemory", true);
defaultPref("browser.low_commit_space_threshold_percent", 100);
defaultPref("browser.tabs.min_inactive_duration_before_unload", 3600000);
#
## Crash Restore
defaultPref("browser.sessionstore.resume_from_crash", true);
defaultPref("browser.sessionstore.interval", 60000);
#
## Smooth Scroll
# pref("general.smoothScroll.lines.durationMaxMS", 125);
# pref("general.smoothScroll.lines.durationMinMS", 125);
# pref("general.smoothScroll.mouseWheel.durationMaxMS", 200);
# pref("general.smoothScroll.mouseWheel.durationMinMS", 100);
# pref("general.smoothScroll.msdPhysics.enabled", true);
# pref("general.smoothScroll.other.durationMaxMS", 125);
# pref("general.smoothScroll.other.durationMinMS", 125);
# pref("general.smoothScroll.pages.durationMaxMS", 125);
# pref("general.smoothScroll.pages.durationMinMS", 125);
#
## Mouse Wheel Scroll
pref("mousewheel.min_line_scroll_amount", 30);
pref("mousewheel.system_scroll_override_on_root_content.enabled", true);
pref("mousewheel.system_scroll_override_on_root_content.horizontal.factor", 175);
pref("mousewheel.system_scroll_override_on_root_content.vertical.factor", 175);
pref("toolkit.scrollbox.horizontalScrollDistance", 6);
pref("toolkit.scrollbox.verticalScrollDistance", 2);
#
## Choppy Scrolling Fix
# pref("mousewheel.min_line_scroll_amount", 40);
# pref("general.smoothScroll", false);
# pref("general.smoothScroll.pages", );
# pref("image.mem.min_discard_timeout_ms", 2100000000);
# pref("image.mem.max_decoded_image_kb", 2048);
#
## X11 Touchscreen
# pref("dom.w3c_touch_events.enabled", true);
#
## Hotkeys
defaultPref("middlemouse.paste", false);
defaultPref("general.autoScroll", true);
defaultPref("browser.quitShortcut.disabled", true);
#
## Disable Auto-Play - 0=always play, 1=only
defaultPref("media.autoplay.default", 2);
defaultPref("media.autoplay.blocking_policy", 2);
#
## Source Viewer
defaultPref("view_source.wrap_long_lines", true);
#
## System Colours
defaultPref("browser.display.use_system_colors", true);
defaultPref("widget.content.allow-gtk-dark-theme", true);
#
## Wayland
# defaultPref("gfx.wayland.hdr", true);
# defaultPref("widget.gtk.global-menu.wayland.enabled", true);
# defaultPref("widget.wayland.experimental.pip.enabled", true);
# defaultPref("widget.wayland.fractional-scale.enabled", true);
# defaultPref("widget.wayland.use-move-to-rect", true);
# defaultPref("widget.wayland.vsync.enabled", true);
#
## GPU Acceleration & WebRender
# defaultPref("gfx.webrender.all", true);
# defaultPref("layers.gpu-process.enabled", true);
# defaultPref("layers.acceleration.disabled", false);
# defaultPref("layers.mlgpu.enabled", true);
# defaultPref("media.hardware-video-decoding.enabled", true);
# defaultPref("media.ffmpeg.vaapi.enabled", true);
# defaultPref("media.gpu-process-decoder", true);
# defaultPref("media.rdd-ffmpeg.enabled", true);
# defaultPref("widget.dmabuf.force-enabled", true);
# defaultPref("dom.webgpu.enabled", true);
#
## DoH Lockdown
# pref("network.trr.mode", 2);
# pref("network.trr.uri", "https://dns10.quad9.net/dns-query"); // Current 'reasonable default': No Filering
#
# // Additions by Acideburn in https://codeberg.org/librewolf/issues/issues/1975#issuecomment-2301916 , and other PR's
# pref("network.trr.default_provider_uri", "https://doh.dns4all.eu/dns-query"); // Define a fallback DoH server (used only in mode 1)
# pref("network.trr.strict_native_fallback", false); // Allow native fallback
# pref("network.trr.retry_on_recoverable_errors", true); // Retry on recoverable errors
# pref("network.trr.disable-heuristics", true); // Disables the canary telemetry detection request "use-application-dns.net" for DOH
# pref("network.trr.allow-rfc1918", true); // Allows the use of private IP addresses (RFC 1918) in DOH responses
#
## Theming
defaultPref("toolkit.legacyUserProfileCustomizations.stylesheets", true);
defaultPref("browser.tabs.drawInTitlebar", false);
