/**
 * Navbar
 *
 * @format
 */

:root {
  --urlbarView-separator-color: var(--ctp-overlay2) !important;
  --urlbarView-hover-background: var(--ctp-overlay2-30) !important;
  --urlbarView-highlight-background: var(--accent) !important;
  --urlbarView-highlight-color: var(--ctp-base) !important;
}

#navigator-toolbox:not(:-moz-lwtheme) {
  background: var(--ctp-mantle) !important;
}

#nav-bar {
  padding-block-start: 0px !important;

  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

#urlbar:not([open], [focused], [breakout][breakout-extend]) {
  background: var(--ctp-base);
  box-shadow: 1px 1px var(--ctp-crust-30) !important;
}

#urlbar:is([open], [focused], [breakout][breakout-extend]) {
  border: 2px solid var(--accent) !important;
  border-radius: 4px !important;
  background: var(--ctp-surface0-30) !important;
}

.urlbar-background {
  background: inherit !important;
}

.urlbar-icon,
#urlbar-go-button {
  margin: auto;
}

.urlbar-page-action {
  padding: 0 !important;
  margin-left: 6.5px !important;
}

toolbar
  .toolbarbutton-1:not([disabled]):hover
  > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack) {
  color: var(--ctp-subtext1) !important;
}

#star-button[starred],
#urlbar-revert-button,
#reader-mode-button[readeractive] > .urlbar-icon,
#translations-button[translationsactive] > #translations-button-icon,
#translations-button-circle-arrows {
  fill: var(--accent) !important;
}

.tab-icon-stack > :not([selected]) {
  fill: var(--ctp-subtext0) !important;
}

.tab-icon-stack > [selected] {
  fill: var(--ctp-accent) !important;
}
